.signature {
  font-family: "Great Vibes", cursive;
  font-size: 1.85em;
  margin-bottom: -0.15em;
  margin-top: 0.15em;
}

.mainfont {
  font-family: "Comic Sans", sans-serif;
}

.title {
  font-size: 0.8em;
}

.white,
.white:hover,
.white:active,
.white:visited {
  color: white;
  text-decoration: none;
}

.cardStyle {
  border-radius: 10px;
}

.cardStylePortfolio {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height:100%;
}

.card-body {
  color: black;
}
