nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar {
  /* background-color: rgb(15,155,225); */
  background-color: black;
  color: white;
}

.white, .navbar-brand, .nav-link, 
.navbar-brand:active, .nav-link:active, .white:active,
.navbar-brand:visited, .nav-link:visited, .white:visited
.navbar-brand:hover, .nav-link:hover, .white:hover {
  color: white;
  text-decoration: none;
}
